// $custom-primary: mat.define-palette(mat.$green-palette, 700); // #388E3C
// $custom-accent: mat.define-palette(mat.$amber-palette, 400); // # FFCA28

// // The "warn" palette is optional and defaults to red if not specified.
// $custom-warn: mat.define-palette(mat.$red-palette, 400); // #EF5350

@use '@angular/material' as mat;

@include mat.core();

$custom-primary: mat.define-palette(mat.$green-palette, 700); // #388E3C
$custom-accent: mat.define-palette(mat.$amber-palette, 400); // # FFCA28
$custom-warn: mat.define-palette(mat.$red-palette, 400); // #EF5350

$custom-theme: mat.define-light-theme((
 color: (
   primary: $custom-primary,
   accent: $custom-accent,
 )
));

@include mat.all-component-themes($custom-theme);